{% extends 'user/user_profile.html' %}

{% block title %}
    <li class="is-active"><a>修改密码</a></li>
{% endblock %}

{% block profile_content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">输入新的密码</label>
            <div class="control has-icons-left has-icons-right">
                <label>
                    <input class="input" type="text" name="password" id="pwdInput">
                </label>
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
            </div>
            <p>{{ user.password.errors.0 }}</p>
        </div>

        <div class="field">
            <label class="label">确认您的密码</label>
            <div class="control has-icons-left has-icons-right">
                <label>
                    <input class="input" type="text" name="confirm_password" id="confirmPwdInput">
                </label>
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
            </div>
            <p class="help is-danger">{{ form.password.errors.0 }}</p>
            <p class="help is-danger">{{ form.non_field_errors.0 }}</p>
        </div>

        <div class="field is-grouped" style="margin-top: 5px">
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
            <div class="control">
                <a class="button is-link is-light" href="/user/profile/">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}
